@charset "UTF-8";
/* CSS Document */

/* Calculator Box*/
.box {
	background-image: url("at.gif");
	background-position:center;
	background-size: cover;
	height: 400px;
	width: 275px;
	border-radius: 10px;
	position: relative;
	top: 80px;
	left: 40%;
}

/* Display */
.display {
	background-image: url("bb8c.gif");
	background-position:center;
	background-size:contain;
	width: 220px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
}
.display input {
	color:white;
	position: relative;
	left: 2px;
	top: 2px;
	height: 30px;
	width: 210px;
	background-image: url("bb8c.gif");
	background-position:center;
	background-size:cover;
	font-size: 21px;
	text-align: right;
}
/* Calculator Buttons */
.keys {
	position: relative;
	top: 15px;
}
.button {
	width: 40px;
	height: 30px;
	border: none;
	border-radius: 8px;
	margin-left: 17px;
	cursor: pointer;
	border-top: 2px solid transparent;
	font-size:16px;
}
.button.function{
		color: black;
		background-image: url("tre.gif");
		background-position:center;
		background-size:cover;
		border-bottom: black 2px solid;
		border-top: 2px #6f6f6f solid;
}
.button.operator {
	color: black;
	background-image: url("c.gif");
		background-position:center;
	border-bottom: black 2px solid;
	border-top: 2px #6f6f6f solid;
}
.button.number {
	color: black;
	background-image: url("best.gif");
		background-position:center;
	border-top: 2px #6f6f6f solid;
}

/* Simulate Button Press */
.function:active {
	border-top: black 2px solid;
	border-bottom: 2px #6f6f6f solid;
}
.operator:active {
	border-top: black 2px solid;
	border-bottom: #303030 2px solid;
}
.number:active {
	border-top: black 2px solid;
	border-bottom:2px #6f6f6f solid;
}
